.chart {
width: 600px;
height: 400px;
}


.chart .ct-slice-donut-a  {
	stroke:yellow;
}

.chart .ct-series.ct-series-b  {
	stroke:black;
	
}
.chart .ct-series.ct-series-c  {
stroke: red;

}

#diagram path {
	fill: red;

}

}
#diagram1 rect {
	fill: yellow;
	stroke: red;

	}
	
table th.sort-up::after {
content:" ";
}
/* Orden descendente */
table th.sort-down::after {
content:" ";
}

#card {
width: 600px;
height: 400px;
margin: auto;

}

#card > img {
border: 15px solid #FFF;
box-shadow: 0 0 10px RGBA(0,0,0, .5);
}

body{

	background: red;
}

#photosphere {
width: 600px;
height: 400px;
background: #DDD;
}

